/*.root{
    -fx-base: rgb(0, 145, 0);
}
.button{
     -fx-text-fill: rgb(0, 0, 200);   
}
.text-field{
     -fx-text-fill: rgb(0, 0, 200);   
}
.label{
     -fx-text-fill: rgb(0, 0, 200);   
}
.menu{
     -fx-text-fill: rgb(0, 0, 200);   
}
.tab{
     -fx-text-base-color: rgb(0, 0, 200);   
}
.list-view{
     -fx-text-base-color: rgb(0, 0, 200);   
}
.check-box{
     -fx-text-fill: rgb(0, 0, 200);   
}*/